---
layout: default
---

{% include site-header.html %}

<main class="main  container">

  <article class="article  article--post  content  typeset">

    <h1>{{ page.title }}</h1>
    {% include post-meta.html %}
    {{ content }}

    {% include nav-share.html %}

    {% include post-comments.html %}

  </article>
  <div id="gitmentContainer"></div>
  <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
  <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
  <script>
  var gitment = new Gitment({
      owner: 'alisongh',
      repo: 'alisongh/alisongh.github.io',
      oauth: {
          client_id: 'cf7934449efa0bd02b8c',
          client_secret: 'a0c349ed4ae245fde82d4d9ce41a39fde2b4b0f8',
      },
  });
  gitment.render('gitmentContainer');
  </script>
  
  {% if page.aside == true %}{% include site-aside.html %}{% endif %}
  


</main>

{% include site-footer.html %}
